<aside class="education aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Education</h2>
        <div class="content">
            <div class="item">                      
                <h3 class="title">
                    <i class="fas fa-graduation-cap"></i>
                    Ingenieria en Computacion &amp; Informática
                </h3>
                <h4 class="university">
                    Universidad Tecnologica Metropolitana (UTEM Santiago Chile)
                    <span class="year">(1998-2003)</span>
                </h4>
            </div><!--//item-->
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->