<aside class="info aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="sr-only">Actual Location:</span>
                    Cuzco, Peru
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <span class="sr-only">Email:</span>
                    <a href="#">retamal.sebastian@gmail.com</a>
                </li>
            </ul>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//aside-->