<section class="latest section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Latest Projects</h2>
        <div class="content">

            <div class="item featured text-center">

                <div class="featured-image has-ribbon">
                    <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/"
                        target="_blank">
                        <img class="img-fluid project-image rounded shadow-sm"
                            src="assets/images/projects/project-featured.jpg"
                            alt="PCFR (Proyecto Centralizado Facturas Regional)" />
                    </a>
                    <div class="ribbon">
                        <div class="text">New</div>
                    </div>
                </div>

                <h3 class="title mb-3">
                    <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/"
                        target="_blank">
                        Workflow adquisiciones - CENCOSUD
                    </a>
                </h3>

                <div class="desc text-start">
                    <p>Acelera el proceso completo de adquisiciones.</p>
                    <p>Contempla recepción de Factura (compra), conciliación de
                        productos recibidos en bodegas e información de documentos (Notas
                        de Crédito y/o Débito), posterior contabilización y finalizando
                        con el pago de Factura.
                    </p>
                </div>
                <!--//desc-->
                <a class="btn btn-cta-secondary"
                    href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/"
                    target="_blank">
                    <i class="fas fa-thumbs-up"></i>
                    Back my project
                </a>
            </div>
            <!--//item-->
            <hr class="divider" />
            <!-- WEB SCRAPING ITEM -->
            <div class="item row">
                <a class="col-md-4 col-12"
                    href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
                    target="_blank">
                    <img class="img-fluid project-image rounded shadow-sm"
                        src="assets/images/projects/webScrapingPortafolio.png" alt="Web Scraping" />
                </a>
                <div class="desc col-md-8 col-12">
                    <h3 class="title"><a
                            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
                            target="_blank">
                            Web Scraping - Extraccion de Informacion desde la Web
                        </a>
                    </h3>
                    <p class="mb-2">Enriquecimiento de la informacion, desde diversas paginas web</p>
                    <p>
                        <a class="more-link" href="https://es.wikipedia.org/wiki/Web_scraping" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                            Find out more
                        </a>
                    </p>
                </div>
                <!--//desc-->
            </div>
            <!--//item-->
            <!-- IA - Algoritmos Descriptivos -->
            <div class="item row">
                <a class="col-md-4 col-12"
                    href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/"
                    target="_blank">
                    <img class="img-fluid project-image rounded shadow-sm"
                        src="assets/images/projects/IAAlgoritmoDescriptivoPortafolio.png"
                        alt="IA - Algoritmos Descriptivos" />
                </a>
                <div class="desc col-md-8 col-12">
                    <h3 class="title">
                        <a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/"
                            target="_blank">
                            IA - Algoritmos Descriptivos
                        </a>
                    </h3>
                    <p class="mb-2">
                        Definición y creación de Algoritmos Descriptivos (IA).
                    </p>
                    <p>
                        <a class="more-link" href="https://dbibyhavas.io/es/blog/analisis-descriptivo-y-predictivo/"
                            target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                            Find out more
                        </a>
                    </p>
                </div>
                <!--//desc-->
            </div>
            <!--//item-->
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->