<app-header></app-header>

<div class="container sections-wrapper py-5">
  <div class="row">
      <div class="primary col-lg-8 col-12">
        <app-about></app-about>
        <app-latest></app-latest>
        <app-projects></app-projects>
        <app-experience></app-experience>
        <app-github></app-github>
      </div><!--//primary-->
      <div class="secondary col-lg-4 col-12">
        <app-basic></app-basic>
        <app-skills></app-skills>
        <app-testimonials></app-testimonials>
        <app-education></app-education>
        <app-languages></app-languages>
        <app-blog></app-blog>
        <app-listmusic></app-listmusic>
        <app-listconferences></app-listconferences>
        <app-credits></app-credits>
      </div><!--//secondary-->
  </div><!--//row-->
</div><!--//masonry-->

<app-footer></app-footer>