<section class="section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Acerca de mi</h2>
        <div class="content">
            <!-- <p>Hola.</p>  -->
            <p>Mi formación es ingeniería en informática, con experiencia ininterrumpida desde el año 2005, en
                áreas relacionadas al desarrollo y la gestión de sistemas informáticos.</p>
            <p>Mis redes sociales, correo y códigos están a vuestra disposición.</p>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->