<aside class="skills aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Skills</h2>
        <div class="content">
            <p class="intro">
                Habilidades en desarrollo y gestión de proyectos.
            </p>
            
            <div class="skillset">
               
                <div class="item">
                    <h3 class="level-title">
                        Líder técnico
                        <span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" title="You can use the tooltip to explain more about your skill level...">
                            <i class="fas fa-info-circle"></i>
                            Expert
                        </span>
                    </h3>

                    <div class="level-bar progress"> 
                        <div class="progress-bar level-bar-inner" role="progressbar" style="width: 96%" aria-valuenow="96"  aria-valuemin="0" aria-valuemax="96"></div>
                    </div><!--//level-bar-->
                </div><!--//item-->
                
                <!-- Back End -->
                <div class="item">
                    <h3 class="level-title">
                        Back End
                        <span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" title="You can use the tooltip to explain more about your skill level...">
                            <i class="fas fa-info-circle"></i>
                            Expert
                        </span>
                    </h3>

                    <div class="level-bar progress"> 
                        <div class="progress-bar level-bar-inner" role="progressbar" style="width: 96%" aria-valuenow="96"  aria-valuemin="0" aria-valuemax="96"></div>
                    </div><!--//level-bar-->

                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge bg-success">Java 1.6+</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">W.S. Rest</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">JPA (EclipseLink)</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">SpringBoot</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Micro servicios</span></li>
                    </ul>
                    
                </div><!--//item-->
                
                <!-- Front End -->
                <div class="item">
                    <h3 class="level-title">
                        Front End
                        <span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" title="You can use the tooltip to explain more about your skill level...">
                            <i class="fas fa-info-circle"></i>
                            Avanzado
                        </span>
                    </h3>

                    <div class="level-bar progress"> 
                        <div class="progress-bar level-bar-inner" role="progressbar" style="width: 96%" aria-valuenow="85"  aria-valuemin="0" aria-valuemax="96"></div>
                    </div><!--//level-bar-->

                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge bg-success">Angular</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Jquery</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">React</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Jsf</span></li>
                    </ul>

                </div><!--//item-->

                <!-- BD -->
                <div class="item">
                    <h3 class="level-title">
                        BD (relacionales &amp; nosql)
                        <span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" title="You can use the tooltip to explain more about your skill level...">
                            <i class="fas fa-info-circle"></i>
                            Expert
                        </span>
                    </h3>

                    <div class="level-bar progress"> 
                        <div class="progress-bar level-bar-inner" role="progressbar" style="width: 96%" aria-valuenow="96"  aria-valuemin="0" aria-valuemax="96"></div>
                    </div><!--//level-bar-->

                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge bg-success">MongoDb</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Oracle</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">SqlServer</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Postgres</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">MySql</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Sybase</span></li>
                    </ul>

                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">
                        IC &amp; DC &amp; TDD &amp; DevOps
                        <span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" title="You can use the tooltip to explain more about your skill level...">
                            <i class="fas fa-info-circle"></i>
                            Expert
                        </span>
                    </h3>

                    <div class="level-bar progress"> 
                        <div class="progress-bar level-bar-inner" role="progressbar" style="width: 96%" aria-valuenow="96"  aria-valuemin="0" aria-valuemax="96"></div>
                    </div><!--//level-bar-->

                    <ul class="list-inline">       
                        <li class="list-inline-item"><span class="badge bg-success">Git</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Jenkins</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Pipe Lines</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Junit</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Mockito</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Sonar Qube</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Docker</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Kubernetes</span></li>
                    </ul>

                </div><!--//item-->
                <!-- Metodologias -->
                <div class="item">
                    <h3 class="level-title">
                        Metodologias
                        <span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" title="You can use the tooltip to explain more about your skill level...">
                            <i class="fas fa-info-circle"></i>
                            Expert
                        </span>
                    </h3>

                    <div class="level-bar progress"> 
                        <div class="progress-bar level-bar-inner" role="progressbar" style="width: 96%" aria-valuenow="96"  aria-valuemin="0" aria-valuemax="96"></div>
                    </div><!--//level-bar-->

                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge bg-success">Scrum</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Kanban</span></li>
                        <li class="list-inline-item"><span class="badge bg-success">Cascada</span></li>
                    </ul>

                </div><!--//item-->


                
                <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on GitHub</a></p> 
            </div>              
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</aside><!--//section-->